<div class="w-full flex flex-col gap-2 p-4 cursor-pointer card">
    <a href="{{ params.url | url }}">{{ params.title }}</a>
    {# <time datetime="{{ params.date | htmlDateString }}" class="text-xs text-gray">{{ params.date | readableDate }}</time> #}
    <ul class="flex gap-1">
        {% for tag in params.tags %}
            {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
            <li class="bg-secondary-300 hover:bg-secondary-300/70 rounded-lg shadow-sm hover:shadow-md hover:-translate-y-px transition">
                <a href="{{ tagUrl | url }}" class="text-xs text-white p-2">{{ tag }}</a>
            </li>
        {% endfor %}
    </ul>
</div>