<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ title }}</title>

        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/global.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/main.css"/>

        <script defer src="/assets/main.js"/>

        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>{{ title }}</h1>

            {% include "components/nav.njk" %}
        </header>

        <main class="w-96 mx-auto">
            {% block component %}
                {{ content | safe }}
            {% endblock %}
        </main>

    </body>
</html>