<style>
    summary:focus {
        outline: 2px solid #0d3233;
        outline-offset: 0.3rem;
    }

    {{css | safe}}
</style>

<article>
<details {% if open %}open{% endif%} class="w-full bg-white rounded-md shadow-lg py-4 px-8">
<summary class="text-xl cursor-pointer">{{ title }}</summary>
<p>{{ description | safe }}</p>

<span>{{ date | dateFormat }}</span>

<div class="w-11/12 min-h-[10rem] border rounded-lg shadow-sm flex justify-center items-center m-4">
{{ output | safe }}
</div>

{% if html.length %}
<details>
<summary class="cursor-pointer">HTML</summary>
{% highlight "html" %}
{{ html | safe }}
{% endhighlight %}
</details>
{% endif %}

{% if css.length %}
<details>
<summary class="cursor-pointer">CSS</summary>
{% highlight "css" %}
{{ css | safe }}
{% endhighlight %}
</details>
{% endif %}

{% if js.length %}
<details>
<summary class="cursor-pointer">JS</summary>
{% highlight "js" %}
{{ js | safe }}
{% endhighlight %}
</details>
{% endif %}

{% if codepen %}
{% postToCodepen title, slug, css, html %}
{% endif %}

</article>

{# https://www.npmjs.com/package/@11tyrocks/eleventy-plugin-open-in-codepen #}
