<div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" name="sayhi" netlify>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="Name">
                Name
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="Name" name="name" type="text" placeholder="What's your name?">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="greet">
                Say Hi!
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="greet" name="says" type="text" placeholder="Type a greet!">
        </div>
        <button class="bg-blue hover:bg-purple text-white font-bold py-2 px-4 rounded-full">
            Yay!
        </button>
    </form>
</div>