<footer class="h-12 w-full bg-primary p-4 flex justify-center items-center flex gap-4 text-white">
    <p>WIP by didof</p>

    <p>Website update on {{ component('date', { date: page.date } ) }}</p>

</footer>