<header class="w-full bg-blue p-4 flex justify-between items-center shadow-lg mb-4">
  <nav class="w-full">
    <ul class="flex justify-between">
      {% for link in collections.nav %}
        {% if link.url %}
          <li>
            <a href="{{ link.url }}">{{ link.data.title }}</a>
          </li>
        {% endif %}
      {%- endfor %}
    </ul>
  </nav>
</header>