---
title: Categories
layout: layouts/base.njk
templateEngineOverride: njk
pagination:
    data: collections.blogCategories
    size: 1
    alias: category
permalink: /blog/categories/{{ category.slug }}/
---

{%- from "system/component.njk" import component -%}

{# {% set test %}

Blog category: {{ category.value }}

{% endset %} #}

{% set heading = 'test' %}

<section class="w-full grid grid-cols-1 sm:grid-cols-2 gap-4">

<ul class="flex flex-col gap-4">
{% for post in collections.blogPosts | filterByCategory(category.value) %}
    <li>
        {{component('post', {
            title: post.data.title,
            url: post.url,
            date: post.date,
            tags: post.data.tags
        })}}
    </li>
{% endfor %}
</ul>

<ul class="flex flex-col gap-4">
{% for category in collections.blogCategories %}
    <li class="card">{{ category.value }} {{ category.amount }}</li>
{% endfor %}
</ul>

</section>