<div class="w-full flex flex-col gap-1 p-4 hover:bg-primary-50 transition rounded-md shadow-sm hover:-translate-y-1 hover:shadow-lg cursor-pointer">
    <a href="{{ params.url | url }}">{{ params.title }} ({{ params.amount }})</a>
</div>