{%- from "system/component.njk" import component -%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ title }}</title>

        <link rel="stylesheet" type="text/css" href="/assets/styles/tailwind.css?v={% version %}"/>

        <link rel="stylesheet" type="text/css" href="/assets/styles/global.css?v={% version %}"/>
        <link rel="stylesheet" type="text/css" href="/assets/styles/prism/solarized-dark-atom.css?v={% version %}"/>
        <link rel="stylesheet" type="text/css" href="/assets/styles/lazy-picture.css?v={% version %}"/>

        <link rel="preconnect" href="/" crossorigin>

        {# Comment out/remove the assets you are not using in the project #}

        {# Fonts #}
        <link rel="preload" href="/assets/fonts/Inter-3.19.var.woff2" as="font" type="font/woff2" crossorigin>

        {# Buttons #}
        <link rel="stylesheet" type="text/css" href="/assets/styles/buttons/minimal_3d.css?v={% version %}"/>
        <link rel="stylesheet" type="text/css" href="/assets/styles/buttons/skeumorphic.css?v={% version %}"/>

        {# Cards #}
        <link rel="stylesheet" type="text/css" href="/assets/styles/cards/ec.css?v={% version %}"/>

        {# Noscript compatibility for image shortcode #}
        <noscript>
            <style>
                noscript {
                    display: contents;
                }
                .lazy-img {
                    display: none;
                }
            </style>
        </noscript>

        <script defer src="/assets/main.js?v={% version %}"></script>

        {% block head %}{% endblock %}
    </head>
    <body class="min-h-screen flex flex-col">
        {% include "components/header.njk" %}

        <main class="flex-grow max-w-4xl w-3/4 mx-auto flex flex-col gap-4">
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </main>

        {% include "components/footer.njk" %}
    </body>
</html>