{%- from "system/component.njk" import component -%}

<!DOCTYPE html>
<html lang="en" domain="{{ metadata.domain }}">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#f9c412">
        <meta name="robots" content="max-snippet:-1, max-image-preview: large, max-video-preview: -1">

        <title>{{ renderData.title or title or metadata.title | escape }}</title>
        <meta property="og:title" content="{{ renderData.title or title or metadata.title | escape  }}">
        {% set desc = renderData.description or description %}
        {% if not desc %}
            {% set desc = content | striptags | truncate(140) %}
        {% endif %}
        {% if desc %}
            <meta name="description" content="{{ desc | escape  }}">
            <meta property="og:description" content="{{ desc | escape }}">
        {% endif %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ metadata.author.twitterHandle }}">
        <meta name="twitter:creator" content="@{{ metadata.author.twitterHandle }}">
        {% if image %}
            <meta property="og:image" content="{{ image | absoluteUrl(metadata.url) }}">
        {% endif %}

        <link rel="icon" href="/favicon.svg" type="image/svg+xml">

        <link rel="stylesheet" type="text/css" href="/assets/styles/tailwind.css?v={% version %}"/>

        <link rel="stylesheet" type="text/css" href="/assets/styles/global.css?v={% version %}"/>
        <link rel="stylesheet" type="text/css" href="/assets/styles/prism/solarized-dark-atom.css?v={% version %}"/>
        <link rel="stylesheet" type="text/css" href="/assets/styles/lazy-image.css?v={% version %}"/>

        <link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}">

        {# https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy #}
        <meta name="referrer" content="no-referrer-when-downgrade">
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

        <link rel="preconnect" href="/" crossorigin>
        {# Comment out/remove the assets you are not using in the project #}

        {# Fonts #}
        <link rel="preload" href="/assets/fonts/Inter-3.19.var.woff2" as="font" type="font/woff2" crossorigin>

        {# Buttons #}
        <link rel="stylesheet" type="text/css" href="/assets/styles/buttons/minimal_3d.css?v={% version %}"/>
        <link rel="stylesheet" type="text/css" href="/assets/styles/buttons/skeumorphic.css?v={% version %}"/>

        {# Cards #}
        <link rel="stylesheet" type="text/css" href="/assets/styles/cards/ec.css?v={% version %}"/>

        {# Scrollbars #}
        <link rel="stylesheet" type="text/css" href="/assets/styles/scrollbars/simple-scrollbar.css?v={% version %}"/>

        {# Anchors #}
        <link rel="stylesheet" type="text/css" href="/assets/styles/anchors/spring.css?v={% version %}"/>
        <link rel="stylesheet" type="text/css" href="/assets/styles/anchors/slimArrow.css?v={% version %}"/>
        <link rel="stylesheet" type="text/css" href="/assets/styles/anchors/double.css?v={% version %}"/>

        {# Footers #}
        <link rel="stylesheet" type="text/css" href="/assets/styles/footers/goey.css?v={% version %}"/>

        {# Noscript compatibility for image shortcode #}
        <noscript>
            <style>
                noscript {
                    display: contents;
                }
                .lazy-img {
                    display: none;
                }
            </style>
        </noscript>

        <script defer src="/assets/main.js?v={% version %}"></script>

        {% block head %}{% endblock %}
    </head>
    <body class="min-h-screen flex flex-col space-between overflow-hidden">

        <main class="flex-grow max-w-5xl w-3/4 mx-auto flex flex-col gap-4">
            {% block content %}
                <p>
                    This is shown if content is not populated
                </p>
            {% endblock %}
        </main>

        {% footer__goey %}

        <div class="w-full flex justify-center items-center">didof</div>

        {% endfooter__goey %}

        {# {% include "components/footer.njk" %} #}
    </body>
</html>