---
title: Demo
description: Ciao
layout: layouts/page.njk
templateEngineOverride: md
---

## Image

{% image "assets/images/smiley-didof.jpg", "smiley didof" %}

## Cards

{% cardEc 'card_expandable_header' %}

Wallet

{% endcardEc %}

### Buttons

{% skeu %}
skeu
{% endskeu %}

### Embeds

https://www.youtube.com/watch?v=dQw4w9WgXcQ