---
title: Demo
layout: layouts/page.njk
templateEngineOverride: njk, md
---

{% cardEc 'card_expandable_header' %}

Wallet

{% endcardEc %}

## Navigation

In order to use this collection remember to update `.eleventy.js` with:

```js
eleventyConfig.addCollection('nav', collection => collection.getAll())
```

Than you can iterate `collections.nav` like follows:

<marquee direction="right">
  {% for link in collections.nav %}
    <a href="{{ link.url }}">{{ link.data.title }}</a>
  {%- endfor %}
</marquee>

## Collections

Since `src` contains a folder named `pages`, which contains a file named `pages.json` with the following content:

```json
{
  "tags": "pages",
  "layout": "page.njk",
}
```

Thanks to `tags` I can find the iterable pages under `collections.pages`.
The actual layouting is due to `layout` property.

### Images

{% image "assets/images/smiley-didof.jpg", "smiley didof" %}

### Buttons

{% skeu %}
skeu
{% endskeu %}