---
title: Playground
layout: layouts/base.njk
templateEngineOverride: njk, md
---

# Playground

<ul class="w-full min-h-screen flex flex-col items-center gap-8">

<li class="w-full row">
{% minimal_3d %}
    minimal_3d
{% endminimal_3d %}

```html
<button class="minimal_3d">didof</button>
```
</li>

<li class="w-full row">
{% skeu %}
    skeu
{% endskeu %}
</li>


    
</ul>